@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculadora-body {
  background-color: rgb(163, 163, 163);
  padding: 12px;
  width: 500px;
  height: 600px;
}

input {
  background-color: #fff;
  border: none;
  width: 100%;
  height: 150px;
}
button {
  background-color: #fff;
  border: 1px solid black;
  width: 80px;
  height: 80px;
}

.btn-c {
  background-color: coral;
  width: auto80px;
}

.btn-resultado {
  width: 80%;
}
